.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/forgedtsx-plugin/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# Remove this line to include the compiled plugin
# forgedtsx-plugin/**
# But keep excluding source files in the plugin
forgedtsx-plugin/**
